.container {
    display: flex;
}

.stepper {
    margin-bottom: 50px;
    display: flex;
}



.art {
    display: flex;
    align-items: center;
}

.line {
    width: 313.9px;
    height: 3px;
    background-color: #d1d1d1;
}

.lineFilled {
    width: 261px;
    height: 3px;
    background-color: #FFB963;
}

.lineFilledSemi {
    width: 89px;
    height: 3px;
    background-color: #FFB963;
}

.lineFilledFull {
    width: 313.9px;
    height: 3px;
    background-color: #FFB963;
}

.icon {
    width: 28px;
    height: 28px;
}

.stepperBox {
    width: 100%;
    background-color: white;
    min-height: 400px;
    border-radius: 10px;

    border: 1px solid #DAE6FF;
}

.stepperBoxThree {
    width: 70%;
    background-color: white;
    min-height: 480px;
    border-radius: 10px;

    border: 1px solid #DAE6FF;
}


.stepperBoxFour {
    width: 100%;
    background-color: white;
    min-height: 480px;
    border-radius: 10px;

    border: 1px solid #DAE6FF;
}

.stepperButtonContainer {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 113px;
}

.stepperButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 237px;
    height: 50px;
    border-radius: 10px;
    background-color: #0F6EFF;
    color: white;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: 16px;
    font-weight: 500;
}

.stepperButton:hover {
    background-color: #0b51bb;
}

.active {
    transition: all 0.5s ease-in-out;
    background-color: #F29A2E;
    border: 5.44px solid #E7EAF0;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.muted {
    transition: all 0.5s ease-in-out;
    background-color: #E4EAF2;
    border: 5.44px solid #E7EAF0;
    border-radius: 50%;
    width: 62px;
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    margin-top: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #0B1A33;
}

.textMutedOne {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #ABB6C5;
    transform: translateX(-17px);
}

.textMutedTwo {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #ABB6C5;
    transform: translateX(-25px);
}

.textMutedThree {
    margin-top: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #ABB6C5;
    transform: translateX(-2px);
}

.textOne {
    margin-top: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #0B1A33;
    transform: translateX(-25px);
}

.textTwo {
    margin-top: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #0B1A33;
    transform: translateX(-35px);
}

.textThree {
    margin-top: 5px;
    font-weight: 500;
    font-size: 16px;
    color: #0B1A33;
    transform: translateX(-2px);
}


.helper {
    width: 40px;;
}