.wrapper {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    width: 95%;
    margin-top: 25px;
    margin-left: 32px;
    align-items: center;
    justify-content: flex-start;
}

.headerBar {
    height: 1.5px;
    background-color: #EAEAEA;
    width: 95%;
    margin-top: 8px;
    margin-bottom: 24px;
    align-self: center;
}

.textOne {
    font-weight: 700;
    font-size: 16px;
}

.textTwo {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 8px;
}


.miniWrapper {
    display: flex;
    flex-direction: column;
}

.rowOne {
    display: flex;
    align-items: center;
}

.blueContainer {
    width: 24px;
    height: 24px;
    background-color: #0F6EFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    margin-left: 29px;
    font-weight: 700;
}

.textContainer {
    text-decoration: underline;
    font-weight: 500;
    font-size: 14px;
    margin-left: 9px;
}

.rowTwo {
    display: flex;
    align-items: center;
}

.longBar {
    height: 320px;
    width: 1.5px;
    background-color: rgba(0, 0, 0, 0.16);
    margin-left: 41px;
    margin-top: 9px;
}

.longBarHidden {
    height: 320px;
    width: 1.5px;
    background-color: rgba(255, 255, 255, 0.16);
    margin-left: 41px;
    margin-top: 9px;
}

.blueContainer {
    display: flex;
    flex-direction: column;
}

.budgetContainer {
    margin-left: 26px;
}

.budgetLine {
    font-weight: 500;
    font-size: 12px;
    color: #606060;
    margin-bottom: 6px;
}

.budgetLineTwo {
    font-weight: 500;
    font-size: 12px;
    color: #606060;
    margin-bottom: 6px;
}


.weirdButton {
    display: flex;
    width: 229px;
    height: 39px;
    background: #F0F0F0;
    border-radius: 47.0588px;
    align-items: center;
    color: #999999;
    font-weight: 500;
    font-size: 14px;
}

.weirdContainer {
    width: 122.13px;
    height: 39px;
    background: #0F6EFF;
    border-radius: 47.0588px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
    font-size: 14px;
}

.weirdText {
    margin-left: 33.87px;
}

.rowThree {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.inputContainer {
    display: flex;
    margin-top: 16px;
}

.textBox {
    width: 363px;
    height: 50px;
    border: 1.5px solid #E9E9E9;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    margin-right: 16px;
}

.textBox:focus {
    outline: none !important;
}

.textBoxBig {
    width: 790px;
    height: 50px;
    border: 1.5px solid #E9E9E9;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.4);
    margin-right: 16px;
}

.textBoxBig:focus {
    outline: none !important;
}

.inputLine {
    display: flex;
    align-items: center;
}

.click {
    transform: translateX(-50px);
}

.newRow {
    display: flex;
    align-items: center;
    margin-top: 16px;
    justify-content: space-between;
}

.priceBox {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.price {
    font-weight: 500;
    font-size: 11px;
    margin-right: 5.19px;
    margin-left: 4px;
}

.slider {
    width: 795px;
    height: 5px;
    transform: translateX(-5px);
}

.sliderLabels {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 12px;
    color: #606060;
}

.sliderLabelTwo {
    margin-right: 40px;
}